<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>" class="<%= html_classes %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="<%= SiteSetting.site_description %>" name="description">
    <meta content="" name="author">

    <%- if SiteSetting.enable_escaped_fragments? %>
    <meta name="fragment" content="!">
    <%- end %>

    <%= canonical_link_tag %>

    <link rel="icon" type="image/png" href="<%=SiteSetting.favicon_url%>">
    <link rel="apple-touch-icon" type="image/png" href="<%=SiteSetting.apple_touch_icon_url%>">

    <%= javascript_include_tag "preload_store" %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag "vendor" %>
    <%= javascript_include_tag "application" %>
    <%- if staff? %>
      <%= javascript_include_tag "admin"%>
    <%- end %>

    <%= render :partial => "common/special_font_face" %>
    <%= render :partial => "common/discourse_stylesheet" %>

    <%= discourse_csrf_tags %>

    <%= raw SiteContent.content_for(:head) %>

    <%= render_google_universal_analytics_code %>

	<script type="text/javascript">
	
	$(document).ready(function() {
	  
	  var docHeight = $('body').height();
	  var windowHeight = $(window).height();
	  
	  var targetHeight = docHeight;
	  if (windowHeight > docHeight) {
	    targetHeight = windowHeight;
	  }
	  
	  var footerHeight = $('#footer-wrapper').height();
	  var footerTop = $('#footer-wrapper').position().top + footerHeight;
	  
	  if (footerTop < targetHeight) {
	    $('#footer-wrapper').css('margin-top', (targetHeight - footerTop) + 'px')
	  }
	});
    </script>
	
    <%= yield :head %>
  </head>

  <body>

	<header class="main-header">
	  <a href="/"><img id="logo" src="/assets/logo.png"></a>
		<div id="main-menu-wrapper">
			<ul id="main-menu">
				<a href="/" id="active-link"><li>Головна</li></a>
				<a href="http://buildukraine.com/advice"><li>Поради</li></a>
				<a href="http://buildukraine.com/"><li>Як це працює?</li></a>
				<a href="http://blog.buildukraine.com/"><li>Блог</li></a>
				<a href="http://buildukraine.com/about"><li>Про нас</li></a>
			</ul>
			<!--<ul id="main-menu-social">
				<a href='https://www.facebook.com/buildukraine'><li id="facebook-page"></li></a>
				<li id="vkontakte-page"></li>
				<li id="twitter-page"></li>
				<li id="odnoklassniki-page"></li> 
			</ul> -->
		</div>
	</header>

    <noscript data-path="<%= request.env['PATH_INFO'] %>">
      <div class="d-header">
        <div class="container">
          <div class="contents">
            <div class="row">
              <div class="title span13">
                <a href="/"><img src="<%=SiteSetting.logo_url%>" alt="<%=SiteSetting.title%>" id="site-logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="main-outlet" class="container">
        <!-- preload-content: -->
        <%= yield %>
        <!-- :preload-content -->
      </div>
    </noscript>

    <!--[if IE 9]><script type="text/javascript">ie = "new";</script><![endif]-->

    <%- unless customization_disabled? %>
      <%= SiteCustomization.custom_header(session[:preview_style], mobile_view? ? :mobile : :desktop) %>
    <%- end %>

    <section id='main'>
    </section>

    <% unless current_user %>
      <form id='hidden-login-form' method="post" action="<%=login_path%>" style="display: none;">
        <input name="username" type="text"     id="signin_username">
        <input name="password" type="password" id="signin_password">
        <input name="redirect" type="hidden">
        <input type="submit" id="signin-button" value="Log In">
      </form>
    <% end %>

    <%- if @preloaded.present? %>
      <script>
      <%- @preloaded.each do |key, json| %>
        PreloadStore.store("<%= key %>",<%= escape_unicode(json) %>);
      <% end %>
      </script>
    <%- end %>

    <%= yield :data %>

    <footer id='bottom'></footer>

<div id="footer-wrapper">
	<footer id="footer-start">
		<img id="logo" src="/assets/footer-logo.png">
		<div id="main-menu-wrapper">
			<ul id="main-menu">
					<li><a href="/" id="active-link">Головна</a></li>
					<li><a href="http://buildukraine.com/advice">Поради</a></li>
					<li><a href="http://buildukraine.com/">Як це працює?</a></li>
					<li><a href="http://blog.buildukraine.com/">Блог</a></li>
					<li><a href="http://buildukraine.com/about">Про нас</a></li>
				</ul>
			<ul id="main-menu-social">
				<a href='https://www.facebook.com/buildukraine'><li id="facebook-page"></li></a>
				<!-- <li id="vkontakte-page"></li>
				<li id="twitter-page"></li>
				<li id="odnoklassniki-page"></li> -->
			</ul>
		</div>
	</footer>
	</div>

    <%= render :partial => "common/discourse_javascript" %>

    <%= render_google_analytics_code %>

    <!-- Discourse Version: <%= Discourse::VERSION::STRING %> -->
    <!-- Git Version: <%= Discourse.git_version %> -->
  </body>
</html>